* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

#fullPage {
    background-color: rgb(255, 255, 255);
}



#buttonForTen {
    color: #ffffff;
    background-color:  rgb(26, 72, 209);
    
}

#buttonForTwenty {
    color: #ffffff;
    background-color: rgb(26, 72, 209);
}

#buttonForAll {
    color: #ffffff;
    background-color: rgb(26, 72, 209);
}

#header-one {
    color: rgb(172, 18, 159);
    font-weight: bold;
    margin-top: 5rem;
}

#howMany {
    color: rgb(26, 72, 209);
}

#secondPage {
    margin-top: 3rem;
}

#guesses {
    margin-top: 1rem;
}




.result-list {
    list-style: none;
    font-size: large;
}