* {
    box-sizing: border-box;
}

.hide {
    display: none;
}



#buttonForTen {
    color: #ffffff;
    background-color:  rgb(26, 72, 209);
    
}

#buttonForTwenty {
    color: #ffffff;
    background-color: rgb(26, 72, 209);
}

#buttonForAll {
    color: #ffffff;
    background-color: rgb(26, 72, 209);
}

#header-one {
    color: rgb(172, 18, 159);
}

#howMany {
    color: rgb(26, 72, 209);
}




.result-list {
    list-style: none;
    font-size: large;
}